@CHARSET "ISO-8859-1";

body,html {
	margin:0;
	padding:0;
	color:white;
	background:#a7a09a;
}

.MAP {
	width: 100%;
	height: 500px;
	border: 1px solid #000;
}

.info {
	width: 250px;
	color: black;
}

#wrap {
	width:100%;
	margin:0 auto;
	background:teal;
}

#header {
	background:transparent;
}
#nav {
	background:transparent;
}
#footer {
	clear:both;
	background:#cc9;
}

#main {
	float:right;
	width:80%;
	background:#9c9;
}
#sidebar {
	float:left;
	width:20%;
	background:transparent;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:0;
}